.app__location-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 0;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

}

.app__location-map {
  flex: 1;
  margin: 0 1rem;

  iframe {
    height: 100%;
    width: 100%;

  }
}

.app__location-info {
  flex: 1;
  text-align: start;
  h1 {
    font-family: var(--font-special);
  }

}